/* 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font,
img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button
{margin:0;padding:0;border:0;}
ol, ul, li, dl, dt, dd {list-style:none;margin:0;padding:0;}
a, a:link, a:visited, a:active { text-decoration: none; }
table {border-spacing:0;border-collapse: collapse;}
img { -ms-interpolation-mode: bicubic; vertical-align: top; max-width: 100%;}
select { color:#555; vertical-align:middle; padding: 5px; }
input { color:#555; font-size: 13px; font-family: 'NotoSans', Arial; vertical-align:middle; }
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:1em;}
button { background: none; cursor: pointer; }
textarea { resize: none; }

#container
{
    width: 100vw; 
    height: 100vh; 
    position: absolute;
    background:url(./images/others/background1.png); 
    margin:0 auto;
}

#container #menu-container
{
    width: 25vw;
    height: 80vh;
    left: 50%;
    top: 50%;
    margin-left: -12.5vw;
    margin-top: -40vh;
    position: relative;
    background-color: white;
}

#container #menu-container img
{
    width: 100%; 
    height: 100%;
    position: absolute;
}

#container #target-pvp #pvp
{
    width: 80%; 
    height: 10%; 
    top: 25%; 
    left: 10%; 
    position:absolute; 
    background:url(./images/menu/pvp.png);
    background-repeat: no-repeat;
}

#container #target-pvp #pvp:hover
{
    background:url(./images/menu/pvp-hover.png);
    background-repeat: no-repeat;
}

#container #target-speed #speed
{
    width: 80%; 
    height: 20%; 
    top: 45%; 
    left: 10%; 
    position:absolute;
    background:url(./images/menu/pvp-speed.png);
    background-repeat: no-repeat;
}

#container #target-speed #speed:hover
{
    background:url(./images/menu/pvp-speed-hover.png);
    background-repeat: no-repeat;
}

#container #target-computer #computer
{
    width: 80%; 
    height: 10%; 
    top: 66%; 
    left: 10%; 
    position:absolute;
    background:url(./images/menu/computer.png);
    background-repeat: no-repeat;
}

#container #target-computer #computer:hover
{
    background:url(./images/menu/computer-hover.png);
    background-repeat: no-repeat;
}









