/* 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font,
img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button
{margin:0;padding:0;border:0;}
ol, ul, li, dl, dt, dd {list-style:none;margin:0;padding:0;}
a, a:link, a:visited, a:active { text-decoration: none; }
table {border-spacing:0;border-collapse: collapse;}
img { -ms-interpolation-mode: bicubic; vertical-align: top; max-width: 100%;}
select { color:#555; vertical-align:middle; padding: 5px; }
input { color:#555; font-size: 13px; font-family: 'NotoSans', Arial; vertical-align:middle; }
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:1em;}
button { background: none; cursor: pointer; }
textarea { resize: none; }

#container{width:100%; height:906px; position:relative; background:#000; margin:0 auto;}
#container #board{width:760px; height:760px; top:50px; position:relative; background:#555; margin:0 auto;}
#container #side{width:160px; height:810px; position:absolute; top:50px; left:1400px; background:url(./images/others/side-menu.png);}
#container #side #up_bar{width:100%; height:27px; top: 40px; position:relative;}
#container #side #up_bar a{width:50px; font-size:20px; left:55px; position:relative;}
#container #side #turn{width:100%; height:160px;position:relative;}
#container #side .white{top: 40px; background:url(./images/points/white-turn.png);}
#container #side .black{top: 40px; background:url(./images/points/black-turn.png);}

#container #side #target #menu{width:140px; height:20px; top:520px; left:10px; position:relative; background:#aaa;}
#container #bottom{width:760px; height:20px; top:80px; position:relative; margin:0 auto;}

#container #bottom #player-black .logo{width:40px; height:40px; top:-10px; position:absolute; background:url(./images/others/black.png); }
#container #bottom #player-white .logo{width:40px; height:40px; top:-10px; left:720px; position:absolute; background:url(./images/others/white.png); }

#container #bottom #player-black .time{width:300px; height:20px; top: 5px; left:50px; position:absolute; background:#8080ff;}
#container #bottom #player-white .time{width:300px; height:20px; top: 5px; left:410px; position:absolute; background:#8080ff;}

#container #bottom .new_game{width:160px; height:20px; top: 5px; left: 940px; position:absolute; background:rgb(87, 48, 15);}
#container #bottom .new_game:hover{background:rgb(255, 127, 39);}
#container #bottom .new_game div{color:#fff; font-weight:300; position:relative;}


/* board */
#container #board .piece{width:40px; height:40px; position:absolute; background:url(./images/board/pp-center.png);}
#container #board .piece-left-up{width:40px; height:40px; position:absolute; background:url(./images/board/pp-left-up.png);}
#container #board .piece-left-down{width:40px; height:40px; position:absolute; background:url(./images/board/pp-left-down.png);}
#container #board .piece-right-down{width:40px; height:40px; position:absolute; background:url(./images/board/pp-right-down.png);}
#container #board .piece-right-up{width:40px; height:40px; position:absolute; background:url(./images/board/pp-right-up.png);}
#container #board .piece-right{width:40px; height:40px; position:absolute; background:url(./images/board/pp-right.png);}
#container #board .piece-left{width:40px; height:40px; position:absolute; background:url(./images/board/pp-left.png);}
#container #board .piece-up{width:40px; height:40px; position:absolute; background:url(./images/board/pp-up.png);}
#container #board .piece-down{width:40px; height:40px; position:absolute; background:url(./images/board/pp-down.png);}
#container #board .piece-point{width:40px; height:40px; position:absolute; background:url(./images/board/pp-center-point.png);}

/* board white */
#container #board .piece.white{width:40px; height:40px; position:absolute; background:url(./images/points/white.png) !important;}
#container #board .piece-left-up.white{width:40px; height:40px; position:absolute; background:url(./images/points/white-left-up.png) !important;}
#container #board .piece-left-down.white{width:40px; height:40px; position:absolute; background:url(./images/points/white-left-down.png) !important;}
#container #board .piece-right-down.white{width:40px; height:40px; position:absolute; background:url(./images/points/white-right-down.png) !important;}
#container #board .piece-right-up.white{width:40px; height:40px; position:absolute; background:url(./images/points/white-right-up.png) !important;}
#container #board .piece-right.white{width:40px; height:40px; position:absolute; background:url(./images/points/white-right.png) !important;}
#container #board .piece-left.white{width:40px; height:40px; position:absolute; background:url(./images/points/white-left.png) !important;}
#container #board .piece-up.white{width:40px; height:40px; position:absolute; background:url(./images/points/white-up.png) !important;}
#container #board .piece-down.white{width:40px; height:40px; position:absolute; background:url(./images/points/white-down.png) !important;}
#container #board .piece-point.white{width:40px; height:40px; position:absolute; background:url(./images/points/white.png) !important;}

/* board black */
#container #board .piece.black{width:40px; height:40px; position:absolute; background:url(./images/points/black.png) !important;}
#container #board .piece-left-up.black{width:40px; height:40px; position:absolute; background:url(./images/points/black-left-up.png) !important;}
#container #board .piece-left-down.black{width:40px; height:40px; position:absolute; background:url(./images/points/black-left-down.png) !important;}
#container #board .piece-right-down.black{width:40px; height:40px; position:absolute; background:url(./images/points/black-right-down.png) !important;}
#container #board .piece-right-up.black{width:40px; height:40px; position:absolute; background:url(./images/points/black-right-up.png) !important;}
#container #board .piece-right.black{width:40px; height:40px; position:absolute; background:url(./images/points/black-right.png) !important;}
#container #board .piece-left.black{width:40px; height:40px; position:absolute; background:url(./images/points/black-left.png) !important;}
#container #board .piece-up.black{width:40px; height:40px; position:absolute; background:url(./images/points/black-up.png) !important;}
#container #board .piece-down.black{width:40px; height:40px; position:absolute; background:url(./images/points/black-down.png) !important;}
#container #board .piece-point.black{width:40px; height:40px; position:absolute; background:url(./images/points/black.png) !important;}



/* hover */
#container #board .piece:hover{background:url(./images/board/pp-center-hover.png);}
#container #board .piece:hover{width:40px; height:40px; position:absolute; background:url(./images/board/pp-center-hover.png);}
#container #board .piece-left-up:hover{width:40px; height:40px; position:absolute; background:url(./images/board/pp-left-up-hover.png);}
#container #board .piece-left-down:hover{width:40px; height:40px; position:absolute; background:url(./images/board/pp-left-down-hover.png);}
#container #board .piece-right-down:hover{width:40px; height:40px; position:absolute; background:url(./images/board/pp-right-down-hover.png);}
#container #board .piece-right-up:hover{width:40px; height:40px; position:absolute; background:url(./images/board/pp-right-up-hover.png);}
#container #board .piece-right:hover{width:40px; height:40px; position:absolute; background:url(./images/board/pp-right-hover.png);}
#container #board .piece-left:hover{width:40px; height:40px; position:absolute; background:url(./images/board/pp-left-hover.png);}
#container #board .piece-up:hover{width:40px; height:40px; position:absolute; background:url(./images/board/pp-up-hover.png);}
#container #board .piece-down:hover{width:40px; height:40px; position:absolute; background:url(./images/board/pp-down-hover.png);}
#container #board .piece-point:hover{width:40px; height:40px; position:absolute; background:url(./images/board/pp-center-point-hover.png);}


































